header, main, footer {
    padding-left: 200px;
}

@media only screen and (max-width : 992px) {
header, main, footer {
    padding-left: 0;
}
}

.sidenav {
    width: 200px;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
}

#nav-head {
    padding-left: 80px;
    padding-top: 10px;
    border-bottom: 1px solid purple;
}

#portfolio {
    border-top: 1px solid #9e9d24;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

#headline {
    margin-right: 80px;
    font-family: 'Raleway', sans-serif;
    border-top: 2px solid rgb(238,110,115);
    padding-top: 30px;
}

#miranda {
    margin-left: 100px;
    margin-right: 40px;
}

.ext-link {
    margin-top: 30px;
}

.about-div {
    margin-top: 40px;
    border-left: 2px solid purple;
    border-top: 1px solid purple;
}

.line-div {
    border-right: 2px solid purple;
    border-top: 1px solid purple;
}

.about {
    padding: 30px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

.footer {
    padding: 15px;
}

.fill-in {
    padding: 30px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    border-bottom: 1px solid rgb(238,110,115);
}

.p-card {
    font-family: 'Raleway', sans-serif;
    line-height: 1.7;
}

.port-main {
    margin: 80px 30px 30px 30px;
}

.p-link {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.p-link:hover {
    border: 1px solid purple;
    border-radius: 4px;
    background-color: whitesmoke;
}

.card .card-action {
    border-top: 1px solid #9e9d24;
}
