header, main, footer {
    padding-left: 200px;
}

@media only screen and (max-width : 992px) {
header, main, footer {
    padding-left: 0;
}
}

.sidenav {
    width: 200px;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
}

#nav-head {
    padding-left: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-right: 80px;
    font-family: 'Raleway', sans-serif;
    border-top: 2px solid rgb(238,110,115);
    padding-top: 30px;
}